.header {
    background-color: white;
    width: 100%;
}
.navbar-brand {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
}
.nav-link {
    text-decoration: none;
    color: grey;
}
h1 {
    position: relative;
    top: 10px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.body {
    height: 100%;
}
img {
    float: left;
    margin: 0 auto;
    padding: 10px;
}
.footer-copyright {
    color: white;
    border-top: 5px solid #4aaaa5;
}